/* Color Palette */
$first-color: #495867;
$first-color-2: #3f5974;
$second-color: #577399;
$second-color-2: #4a70a5;
$third-color: #bdd5ea;
$third-color-2: #bad5ed;
$fourth-color: #f7f7ff;
$fourth-color-2: #f5f5ff;
$fifth-color: #fe5f55;
$fifth-color-2: #ea6f66;

/* Fonts */
// @import url('http://fonts.cdnfonts.com/css/walt-disney-script');
// $primary-font: "Walt Disney Script", sans-serif;
@import url('http://fonts.cdnfonts.com/css/video');
$secondary-font: 'Video', sans-serif;
@import url('http://fonts.cdnfonts.com/css/fourthdimension');
$tertiary-font: 'FourthDimension', sans-serif;
@import url('http://fonts.cdnfonts.com/css/d3-craftism');
$quaternary-font: 'D3 Craftism', sans-serif;
@import url('http://fonts.cdnfonts.com/css/karen-erc-2006');
$fifth-font: 'Karen_erc_2006', sans-serif;
